<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aggiungi nuovo libro</title>
</head>
<body>
    <h1>Aggiungi nuovo libro</h1>
    <form th:action="@{/books}" method="post">
        <label for="title">Titolo:</label>
        <input type="text" id="title" name="title"><br><br>
        <label for="numPages">Numero di pagine:</label>
        <input type="number" id="numPages" name="numPages"><br><br>
        <label for="cost">Prezzo:</label>
        <input type="number" id="cost" name="cost"><br><br>
        <input type="submit" value="Salva">
    </form>
    <a href="/books">Torna alla lista dei libri</a>
</body>
</html>