<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book List</title>
</head>
<body>
<h1>Book List</h1>
<a th:href="@{/books/new}">Add New Book</a>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Pages</th>
        <th>Cost</th>
        <th>Actions</th>
    </tr>
    <tr th:each="book : ${BOOKS}">
        <td th:text="${book.title}">Il Signore dei Piselli</td>
        <td th:text="${book.numPages}">1000</td>
        <td th:text="${book.cost}">100.00</td>
        <td>
            <a th:href="@{'/books/edit/' + ${book.id}}">Edit</a>
            <a th:href="@{'/books/delete/' + ${book.id}}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>